body{
    scroll-behavior: smooth;
}
nav{
    background-color: green;
}
#logo{
    height: 100px;
    width: 100px;
}
ul{
    margin-left: 20%;  
}
ul>
.bck{
    background-image: url('../images/potato\ 5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    height: 400px;
    width: 100%;
}
