body{
    scroll-behavior: smooth;
}
nav{
    background-color: #5cb85c;
    height: 60px;
}
#logo{
    height: 50px;
    width: 50px;
}
ul{
    margin-left: 20%;  
}
ul>li{
    padding: 18px;
}
.row{
    padding: 20px;
}
.bck{
    background-image: url('https://github.com/MungaiKeren/Potato-chapChap/blob/master/images/potato%205.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    height: 200px;
    width: 100%;
}
#potato{
    font-family: 'Allerta Stencil', sans-serif;
}
p#p{
    color: white;
    font-size: 24px;
}
textarea{
    width: 100%;
}
.mapouter {
    position: relative;
    text-align: left;
    height: 200px;
    width: 200px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 200px;
}
#spin{
    color: white;
    margin-left: 60%;
}
i:hover{
    color: green !important;
}
#color{
    color: white;
}
.feed{
    display: none;
}